@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* FONDO INICIO */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}

body {
    background-color: ghostwhite;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

.img-aa {
    width: 50%;
}

.img-a {
    width: 17%;
}

ul {
    list-style-type: none;
}

.linkeado {
    width: 100%;
    display: contents;
}

.linkeado-a {
    width: 100%;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

.list-a {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    list-style: none;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 2rem;
}

.producto-precio {
    padding-bottom: 34px;
}

.cont-logo {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
}


.img-logo {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img-b {
    display: flex;
    justify-content: center;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: 1rem;
    width: 100%;

    align-items: center;
    justify-content: center;
}

.boton-menu.active {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
}

.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
}

.boton-menu > i.bi-hand-index-thumb-fill,
.boton-menu > i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}

.boton-carrito {
    margin-top: 0;
}

.seguir {
    list-style-type: none;
    display: flex;
    margin-left: 0;
    margin-right: 0;
}

.numerito {
    background-color: #f29592;
    color: black;
    padding: 0.8rem 1rem;
    border-radius: 0.8rem;
}

.boton-carrito.active .numerito {
    background-color:red;
    color: wheat;
}

.texto-footer {
    color: var(--clr-main-light);
    font-size: .85rem;
}

main {
    margin: 1rem;
    padding: 3rem;
}

.producto {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    width: 70%;
    padding: 30px;
}

.titulo-principal {
    color: black;
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: flex;
    gap: 3rem;
    margin: 3.5rem;
}

.producto-imagen {
    max-width: 50%;
    border-radius: 0;
    padding-right: 20px;
}

.producto-detalles {
    background-color: ghostwhite;
    color: black;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.producto-titulo {
    font-size: 1rem;
}

.producto-agregar {
    border: 1px solid black;
    width: 60%;
    max-width: 550px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    background-color:white;
    transform: scale(1);

}

.producto-agregar {
    -webkit-transition:all .7s ease;
    -moz-transition:all .7s ease;
    -o-transition:all .7s ease;
    -ms-transition:all .7s ease;
    width:100%;
}

.producto-agregar:hover  {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
    }


.producto-agregar:hover  {
    transform:scale(1.05);
    }

    @keyframes producto-agregar {
        from {
        transform: translateX(0px);
        }
      
        to {
        transform: translateX(10px);
        }
      }


.producto-agregar:hover {
    cursor: pointer;
}


/** CARRITO  **/

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
    color: black;
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 0.5rem;
    padding-left: 0.9rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
    border: 1px solid black;
}

.carrito-producto-imagen {
    width: 4rem;
}

.carrito-producto small {
    font-size: .75rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: #f29592;
    padding: 1rem;
    border-radius: 1rem;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid;
}

.carrito-acciones-vaciar:hover {
    background-color: #bce7ee;
    cursor: pointer;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: white;
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
    border: 1px solid black;
}

.carrito-acciones-comprar {
    border: 1px solid black;
    background-color: #d2b9ed;
    padding: 1rem;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.carrito-acciones-comprar:hover {
    background-color: #bce7ee;
    cursor: pointer;
}

.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}

.disabled {
    display: none;
}


/* flecha */

.bt {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  
  .flechita {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flec {
    width: 10%;
    transform: rotate(90deg);
  }
  
  
  @keyframes flechita {
    from {
    transform: translateX(20px);
    }
  
    to {
    transform: translateX(0px);
    }
  }
  
  .flechita {
    transition: ease;
    animation-duration: .5s;
    animation-name: flechita;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
/** FOOTER IN **/

.cont-f {
    background: #fff7a9;
    height: 15vh;
    width: 100%;
    z-index: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
}

.logo-container-f {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.logo-container-f img {
    width: 25%;
}

/** FOOTER **/

.cont-fA {
    background: #fff7a9;
    height: 15vh;
    width: 100%;
    z-index: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    margin-top: 9.3rem;
}

.logo-container-f {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.logo-container-f img {
    width: 25%;
}

/*** MEDIA QUERIES ***/

@media all and (min-width:1200px) {
    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    .carrito-producto-titulo {
        width: 50%;
    }

    .linkeado {
        width: 100%;
        display: contents;
        justify-content: center;
    }

    .list-a {
        margin-left: 0;
        margin-right: 0;
    }

    .img {
        align-items: center;
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }


    .carrito-productos {
        display: flex;
        flex-direction:column;
        gap: 1rem;
    }

    .producto {
        border: 1px solid black;
        border-radius: 10px;
        padding: 30px;
    }

    .cont {
        display: flex;
        margin-top: 1.5rem;
        align-items: center;
    }

    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: black;
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color: black;
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: .5rem;
    }

    .carrito-producto-subtotal {
        display: none;
    }

    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    .producto-imagen {
        border-radius: 0;
    }
    
}


@media all and (min-width: 850px) and (max-width: 1199px) {
    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    .carrito-producto-titulo {
        width: 50%;
    }

    .linkeado {
        width: 100%;
        display: contents;
        justify-content: center;
    }

    .list-a {
        margin-left: 0;
        margin-right: 0;
    }

    .img {
        align-items: center;
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .img-aa {
        width: 20%;
    }

    .carrito-productos {
        display: flex;
        flex-direction:column;
        gap: 1rem;
    }

    .producto {
        border: 1px solid black;
        border-radius: 10px;
        padding: 30px;
    }

    .cont {
        display: flex;
        margin-top: 1.5rem;
        align-items: center;
    }

    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: black;
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color: black;
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: .5rem;
    }

    .carrito-producto-subtotal {
        display: none;
    }

    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    .producto-imagen {
        border-radius: 0;
    }
    
}


@media screen and (min-width: 675px) and (max-width: 849px) {
    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    .carrito-producto-titulo {
        width: 50%;
    }

    .linkeado {
        width: 100%;
        display: contents;
        justify-content: center;
    }

    .list-a {
        margin-left: 0;
        margin-right: 0;
    }

    .img {
        align-items: center;
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .img-aa {
        width: 40%;
    }

    .carrito-productos {
        display: flex;
        flex-direction:column;
        gap: 1rem;
    }

    .producto {
        border: 1px solid black;
        border-radius: 10px;
        padding: 30px;
    }

    .cont {
        display: flex;
        margin-top: 1.5rem;
        align-items: center;
    }

    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: black;
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color: black;
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: .5rem;
    }

    .carrito-producto-subtotal {
        display: none;
    }

    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    .producto-imagen {
        border-radius: 0;
    }
    
}

@media screen and (min-width: 600px) and (max-width: 674px) {

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    .linkeado {
        width: 100%;
        display: contents;
        justify-content: center;
    }

    .list-a {
        margin-left: 0;
        margin-right: 0;
    }

    .img {
        align-items: center;
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .img-aa {
        width: 40%;
    }

    .carrito-productos {
        display: flex;
        flex-direction: initial;
        gap: 1rem;
    }

    .producto {
        border: 1px solid black;
        border-radius: 10px;
        padding: 30px;
    }

    .cont {
        display: flex;
        margin-top: 1.5rem;
        align-items: center;
    }

    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: black;
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color: black;
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }

    .carrito-producto-subtotal {
        display: none;
    }

    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    .producto-imagen {
        border-radius: 0;
    }
    

}



@media screen and (min-width: 400px) and (max-width: 600px) {
    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    .linkeado {
        display: contents;
    }

    .numerito {

    background-color: #f29592;
    color: black;
    padding: 0.5rem 0.7rem;
    border-radius: 0.8rem;

    }

    .img {
        align-items: center;
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .list-a {
        list-style-type: none;
        display: flex;
        margin-left: 0;
        margin-right: 0;
    }

    .img-aa {
        width: 40%;
    }

    .carrito-productos {
        display: flex;
        flex-direction: initial;
        gap: 1rem;
    }

    .producto {
        border: 1px solid black;
        border-radius: 10px;
        padding: 30px;
        width: 100%;
    }

    .cont {
        display: flex;
        margin-top: 1.5rem;
        align-items: center;
    }

    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos {
        display: flex;
        flex-direction: column;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: black;
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color: black;
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
        flex-direction: initial;
    }

    .carrito-producto-subtotal {
        display: none;
    }

    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    .producto-imagen {
        border-radius: 0;
    }
    
}


@media screen and (min-width: 370px) and (max-width: 399px) {
    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    .linkeado {
        display: contents;
    }

    .numerito {

    background-color: #f29592;
    color: black;
    padding: 0.5rem 0.7rem;
    border-radius: 0.8rem;

    }

    .img {
        align-items: center;
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .list-a {
        list-style-type: none;
        display: flex;
        margin-left: 0;
        margin-right: 0;
    }

    .img-aa {
        width: 40%;
    }

    .carrito-productos {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .producto {
        border: 1px solid black;
        border-radius: 10px;
        padding: 30px;
        width: 100%;
    }

    .cont {
        display: flex;
        margin-top: 1.5rem;
        align-items: center;
    }

    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos {
        display: flex;
        flex-direction: column;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: black;
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color: black;
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
        flex-direction: initial;
    }

    .carrito-producto-subtotal {
        display: none;
    }

    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    .producto-imagen {
        border-radius: 0;
    }
    
    
}



@media screen and (min-width: 300px) and (max-width: 369px) {
    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    .linkeado {
        display: contents;
    }

    .numerito {

    background-color: #f29592;
    color: black;
    padding: 0.5rem 0.7rem;
    border-radius: 0.8rem;

    }

    .img {
        align-items: center;
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .list-a {
        list-style-type: none;
        display: flex;
        margin-left: 0;
        margin-right: 0;
    }

    .img-aa {
        width: 40%;
    }

    .carrito-productos {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .producto {
        border: 1px solid black;
        border-radius: 10px;
        padding: 30px;
        width: 100%;
    }

    .cont {
        display: flex;
        margin-top: 1.5rem;
        align-items: center;
    }

    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos {
        display: flex;
        flex-direction: column;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: black;
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color: black;
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
        flex-direction: initial;
    }

    .carrito-producto-subtotal {
        display: none;
    }

    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    .producto-imagen {
        border-radius: 0;
    }
    
}











