* {
  transition: all 0.3s;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand';
}

@import url(/fonts/KeeponTruckin.ttf);
@import url(/fonts/Quicksand-Regular.ttf);
@import url(/fonts/Quicksand-SemiBold.ttf);

body {
  background-color: aliceblue;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Quicksand';
}

.cont-juegoU {
  width: 50%;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.logo {
  width: 10%;
}

.link-logo {
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.30);
  background: white;
  -webkit-backdrop-filter: blur(5px);
  transition: all 300ms;
}

.cont {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: white;
}

/* prueba */
.container__background-triangle{
  max-width: 1200px;
  height: 600px;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.triangle{
  width: 300px;
  height: 300px;
  background: red;
  position: absolute;
}

.triangle1{
  border-radius: 100rem;
  width: 250px;
  height: 250px;
  background: #BCE7EE;
  right: 208px;
  top: 100px;
  animation: t1 8s ease infinite;
}

.triangle2{
  border-radius: 100rem;
  width: 200px;
  height: 200px;
  background: #BCE7EE;
  top: 483px;
  left: 200px;
  animation: t2 9s ease infinite;
}

.triangle3{
  border-radius: 100rem;
  width: 300px;
  height: 300px;
  background: #BCE7EE;
  left: 200px;
  animation: t3 7s ease infinite;
}

@keyframes t1 {
  0%{
      transform: rotate(45deg) translateY(0px);
  }
  50%{
      transform: rotate(45deg) translateY(20px);
  }
  100%{
      transform: rotate(45deg) translateY(0px);
  }
}

@keyframes t2 {
  0%{
      transform: rotate(65deg) translateY(0px);
  }
  50%{
      transform: rotate(65deg) translateY(20px);
  }
  100%{
      transform: rotate(65deg) translateY(0px);
  }
}

@keyframes t3 {
  0%{
      transform: rotate(45deg) translateY(0px);
  }
  50%{
      transform: rotate(45deg) translateY(20px);
  }
  100%{
      transform: rotate(45deg) translateY(0px);
  }
}

/* fin prueba*/



.logo-container {
  align-items: flex-end;
  justify-content: center;
  display: flex;
  width: 100%;
  padding: 1rem;
}


.contiene-b {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 16px;
}

.saludo {
  margin: 0;
  font-weight: 400;
  padding: 0;
  font-size: 1.5rem;
  padding-bottom: 10px;
}


.contenedor {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tituloPreg {
  margin-bottom: 0.3rem;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.encabezado {
    width: 100%;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    /* background: rgba(255, 255, 255, 0.1); */
    background-color: white;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 300ms;
}

.contieneBlanco {
  /* background-color: #BCE7EE; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}


.categoria {
  position: absolute;
  opacity: 0.3;
  text-align: left;
  display: none;
}

.pregunta {
  padding: 20px;
  font-size: 1.4rem;
  font-weight: 600;
}

.imagen {
  object-fit: cover;
  height: 0px;
  width: 50%;
  border: 1px solid black;
}


.btn {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -o-transition: all .7s ease;
  -ms-transition: all .7s ease;
  width: 100%;
}

.btn:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.btn:hover {
  transform: scale(1.05);
}

.btn {
  border: 1px solid black;
  width: 50%;
  max-width: 550px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
  background-color: white;
  transform: scale(1);
  font-size: 1rem;
  font-weight: 600;
}

.btn:hover {
  background-color: white;
}

@keyframes btn {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(10px);
  }
}


.fotis {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* LOGO */
.img-aa {
  width: 30%;
}

.linkeado {
  width: 100%;
  display: contents;
}

.cont-logo {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.img-logo {
  z-index: 1;
  align-items: center;
  display: flex;
  flex-direction: row;
}

/* FLECHA */
.bt {
  justify-content: center;
  display: flex;
  align-items: center;
  width: auto;
}

.flechita {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flec {
  width: 10%;
  transform: rotate(90deg);
}


@keyframes flechita {
  from {
    transform: translateX(20px);
  }

  to {
    transform: translateX(0px);
  }
}

.flechita {
  transition: ease;
  animation-duration: .5s;
  animation-name: flechita;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}




.swal2-confirm {
  border: 1px solid black !important;
  line-height: 1;
  background-color: white !important;
  color: black !important;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.6rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  width: 50%;
  height: 3rem;
}

.swal2-image {
  height: 250px !important;
}

.swal2-title {
  color: #363838 !important;
}

.swal2-html-container {
  margin: 1em 6em 1em !important;
}


.swal2-actions {
  display: flex !important;
  width: 100% !important;
  justify-content: center;
  margin: 0 !important;
}

.swal2-close {
  color: #f29592 !important;
}

.swal2-close:hover {
  color: #d77370 !important;
}

.swal2-styled.swal2-confirm {
  font-weight: 800;
  text-transform: none !important;
  width: 50% !important;
  display: flex;
  z-index: 1;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding: 0;
  border-radius: 10px !important;
}

.swal2-styled:hover{
  background-color: white !important;
}

.swal2-confirm:hover{
  background-color: white;
}

.swal2-styled.swal2-confirm  {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -o-transition: all .7s ease;
  -ms-transition: all .7s ease;
  width: 100%;
}

.swal2-styled.swal2-confirm:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.swal2-styled.swal2-confirm:hover {
  transform: scale(1.05);
}
  






/* boton volver */

.botonC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.promoC {
  width: 40%;
}

.jugarA {
  cursor: pointer;
  width: auto;
  height: auto;
  border-radius: 8px;
  line-height: normal;
  padding: 10px;
  font-size: 1rem;
  font-weight: 700;
  background-color: white;
  border: 1px solid black;
}

.jugarA:hover {
  background-color: white;
}


/* BOTON FOOTER*/

.cont-f {
  background: #fff7a9;
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compra-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  width: 100%;
}


.botonC .jugarA {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -o-transition: all .7s ease;
  -ms-transition: all .7s ease;
  width: 100%;
}

.jugarA:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.jugarA:hover {
  transform: scale(1.05);
}

/* puntaje */

.contiene-puntaje {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divPuntaje {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  /* padding: 5px; */
  border-radius: 5px;
  width: 50%;
}

.puntajeName {
  width: 100%;
  font-size: 1.2rem;
}

.numero {
  position: absolute;
  opacity: 0;
  top: 10px;
  right: 10px;
}

.puntaje {
  align-items: center;
  justify-content: center;
  display: flex;
  color: black;
  width: 100%;
  text-align: right;
}

/*********** MEDIA **********/




@media screen and (min-width: 320px) and (max-width: 480px) {
  .logo {
    width: 30%;
  }

  .cont-juegoU {
    margin-top: 0.2rem;
    height: auto;
    width: 100%;
  }

  .tituloPreg {
    text-align: center;
    width: 70%;
    margin-bottom: 0.3rem;
    margin-top: 1rem;
    font-size: 1rem;
  }

  .puntajeName {
    font-size: .9rem;
  }

  .encabezado {
    width: 100%;
    padding: 20px; 
    box-shadow: none; 
    background: 0; 
    background-color: white;
    border: none; 
    border-radius: 0;
    backdrop-filter: 0; 
    -webkit-backdrop-filter: 0;
    transition: all 300ms;
  }

  .pregunta {
    padding: 15px;
    font-size: 1.1rem;
  }

  .btn {
    width: 80%;
    padding: 5px;
  }

  .imagen {
    width: 80%;
  }

  h2,
  h3,
  .puntaje,
  .pregunta {
    font-family: 'Quicksand';
  }
}