
* {
    transition: all 0.3s;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
  }
  
  @import url(/fonts/KeeponTruckin.ttf);
  @import url(/fonts/Quicksand-Regular.ttf);
  @import url(/fonts/Quicksand-SemiBold.ttf);
  
  body {
    background-color:aliceblue;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Quicksand';
  }

  .cont-juegoU {
    height: 70vh;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 3rem;

  }

  .cont {
    display: flex;
    align-items: center;
  }

  .link-logo {
    width: 100%;
  }

  .logo-container {
    align-items: flex-end;
    justify-content: center;
    display: flex;
  
    width: 100%;
    padding: 1rem;
  }

  .logo {
    width: 13%;
  }



  
  .contiene-b {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
    .saludo {
      margin: 0;
      font-weight: 400;
      padding: 0;
      font-size: 1.5rem;
      padding-bottom: 10px;
    }
  
  
  .contenedor {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.6rem;
  }
  
  .encabezado {
    position: relative;
    background-color: white;
    min-width: 300px;
    width: 70%;
    max-width: 875px;
    padding: 10px;
  
  
    border-radius: 10px;
    border: 1px solid black;
  }
  
  .categoria {
    position: absolute;
    opacity: 0.3;
    text-align: left;
    display: none;
  }
  
  .pregunta {
    padding: 10px;
    font-size: 1.4rem;
  }
  
  .imagen {
    object-fit: cover;
    height: 0px;
    width: 50%;
    border: 1px solid black;
  }
  
  
  .btn {
    -webkit-transition:all .7s ease;
    -moz-transition:all .7s ease;
    -o-transition:all .7s ease;
    -ms-transition:all .7s ease;
    width:100%;
    }
  
  .btn:hover  {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
    }
  
    .btn:hover  {
    transform:scale(1.05);
    }
  
  .btn {
    border: 1px solid black;
    width: 60%;
    max-width: 550px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    background-color:white;
    transform: scale(1);
  } 
  
  .btn:hover {
    background-color: #c2f1d4;
  }
  
  @keyframes btn {
    from {
    transform: translateX(0px);
    }
  
    to {
    transform: translateX(10px);
    }
  }
  
  
  .fotis {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .numero{
    position: absolute;
    opacity:0;
    top: 10px;
    right: 10px;
  }
  
  .puntaje{
    align-items: center;
    justify-content: center;
    display: flex;
    color: black;
    width: 100%;
    text-align: right;
  }
  
  
   /* LOGO */
   .img-aa {
    width: 30%;
  }
  
  .linkeado {
    width: 100%;
    display: contents;
  }
  
  .cont-logo {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  
  .img-logo {
    z-index: 1;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  
  /* FLECHA */
  .bt {
    justify-content: center;
    display: flex;
    align-items: center;
    width: auto;
  }
  
  .flechita {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flec {
    width: 10%;
    transform: rotate(90deg);
  }
  
  
  @keyframes flechita {
    from {
    transform: translateX(20px);
    }
  
    to {
    transform: translateX(0px);
    }
  }
  
  .flechita {
    transition: ease;
    animation-duration: .5s;
    animation-name: flechita;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  
  .swal2-confirm {
    background-color: #fff7a9;
    border: 1px solid black;
    color: black;
  }
  
  .swal2-styled.swal2-confirm:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
  }
  
  .swal2-footer {
    justify-content: center;
    margin: 1em 0 0;
    padding: 1em 4em 0;
    border-top: 1px solid #eeeb;
    color: inherit;
    font-size: 1em;
  }
  
  
  .swal2-title{
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0.8em 1em 0;
    color: inherit;
    font-size: 1.875em;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
    font-family: 'Quicksand';
  }
  
  
  /* boton volver */
  
  .botonC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .promoC {
    width: 40%;
  }
  
  .jugarA {
    cursor: pointer;
    width: auto;
    height: auto;
    border-radius: 8px;
    line-height: normal;
    padding: 10px;
    font-size: 1rem;
    font-weight: 700;
    background-color:white;
    border: 1px solid black;
  }
  
  .jugarA:hover {
    background-color:white;
  }
  

  /* BOTON FOOTER*/

  .cont-f {
    background: #fff7a9;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.compra-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  width: 100%;
}

  
  .botonC .jugarA {
    -webkit-transition:all .7s ease;
    -moz-transition:all .7s ease;
    -o-transition:all .7s ease;
    -ms-transition:all .7s ease;
    width:100%;
    }
  .jugarA:hover  {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
    }
  
    .jugarA:hover  {
    transform:scale(1.05);
    }
  



    /*********** MEDIA **********/

    @media screen and (min-width: 300px) and (max-width: 369px) {
      .encabezado {
        height: 80vh;
      }

      .pregunta {
        font-size: 3rem;
      }
    }
  